@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 14%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14%;
    --primary: 0 0% 21%;
    --primary-foreground: 0 0% 99%;
    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 21%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 55%;
    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 21%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 99%;
    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 0 0% 71%;
  }

  .dark {
    --background: 0 0% 14%;
    --foreground: 0 0% 99%;
    --card: 0 0% 21%;
    --card-foreground: 0 0% 99%;
    --popover: 0 0% 21%;
    --popover-foreground: 0 0% 99%;
    --primary: 0 0% 92%;
    --primary-foreground: 0 0% 21%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 99%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 99%;
    --destructive: 0 63% 70%;
    --destructive-foreground: 0 0% 99%;
    --border: 0 0% 27%;
    --input: 0 0% 27%;
    --ring: 0 0% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
